<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- namespace表示命名空间 -->
<mapper namespace="mapper.UserMapper">

	<!-- mybatis的分页查询 -->
	<select id="selectUser" parameterType="User" resultType="User">
		select * from user 
		<trim prefix="where" prefixOverrides="and">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
		</trim>
	</select>
	
	<select id="selectPassword" parameterType="User" resultType="String">
		select password from user where id = #{id}
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into user(id,password)
		values(#{id},#{password})
	</insert>
	
</mapper>